body{
  font-family: sans-serif;
  color: #255536;
  border-left:2px solid #1a2dda;
  border-right:2px solid #1a2aac;
  border-top:2px solid #1a22a3;
  border-bottom:2px solid #1a21aa;
}
h1, h2{
  color:gary;
}
h1{
  border-bottom:1px solid #99acdf;
  border-top:1px dotted #
}
