h1,h2{
  font-family: sans-serif;
  color:gray;
}
h1{ 
  border-bottom: 1px solid black;
}
p{color:maroon
}
h1{
  background-color: #2521fa;
  border: 5px solid #aa12af
}
h2{
  border: 1.66px solid #a6d2f1;
  color: #addd23;
}