p.greentea{
  color:green;
  font-family: sans-serif;
  font-feature-settings: "abvs";
}
p.raspberry{
  color:blue;
  font: bolder;
  font-family: sans-serif;
}
p.Blueberry{
  color:purple;
}
body{
  text-align: center;
  border-left:2.65px solid #6955ad;
  border-right:2.65px solid #6955ab;
  border-top:2.65px solid #6959ab;
  border-bottom:2.65px solid #6959aa;
  font-family: serif; 
  margin:0px;
  padding:0px;
}
h2{
text-align: start;
border-bottom:3px solid #699999;
margin:0px;
padding:0px;
}
